
	<div class="container">

		<div class="row">
			<div class="col-md-3 colpadding" style="position: fixed;bottom: 0px;right:0px" wb-affix="150">
                <div class="panel panel-success" style="margin-bottom:0px;cursor:default;border:none;">
                    <div class="panel-heading" style="border:none;">
                        <h5 style="margin-top: 5px;margin-bottom: 5px;">
                            <i class="glyphicon glyphicon-comment" style="top:4px"></i>&nbsp;
                            Chat
                            <a  class="pull-right" style="color:#888;"><h6>30 Online</h6></a>
                        </h5>
                    </div>
                </div>

                <div class="list-group" style="margin-bottom:0px" >

                    <a  class="list-group-item" ng-repeat="chatuser in chatusers"
                       style="border-top-left-radius: 0px;border-top-right-radius: 0px;"
                       id="{{chatuser._id}}" name="{{ chatuser.name.first }} {{ chatuser.name.last }}" addchatdiv>


                            <img style="width:30px;margin-right:5px" class=""
                                 src="{{ chatuser.picture.thumbnail}}" alt="">
                                    {{ chatuser.name.first }} {{ chatuser.name.last }}

                    </a>
                    <a class="list-group-item"
                       style="border-top-left-radius: 0px;border-top-right-radius: 0px;">
                        <div class="input-group">
							<input id="btn-input" type="text" class="form-control input-sm"
                                   placeholder="Search online friends..." />
							<span class="input-group-btn">
                                <button class="btn btn-default btn-sm" id="btn-chat">
                                    <i class="glyphicon glyphicon-search"></i>
                                </button>
                            </span>
                        </div>
                    </a>
                </div>
            </div>

            <div ng-repeat="previousdiv in previousdivs" class="col-md-3 colpadding"
                 style="margin-left:10px;position: fixed;bottom: 0px;right:{{ previousdiv.right}}px;width:300px;height:{{ previousdiv.height}}"
                 wb-affix="150">
                <div class="panel panel-success" style="margin-bottom:0px;cursor:default;border:none;">

                    <div class="panel-heading" style="border:none;">
                        <h5 style="margin-top: 5px;margin-bottom: 5px;">
                            <i class="glyphicon glyphicon-comment" style="top:4px"></i>&nbsp;
                            {{ previousdiv.name }}
                            <a ng-click="close_div('{{ previousdiv.id}}')" class="pull-right" style="color:#888;"><h6>close</h6></a>
                            <div ng-if="previousdiv.maximize">
                                <a   ng-click="minimize('{{ previousdiv.id }}')" class="pull-right" style="color:#888;">
                                    <h6>minimize</h6>
                                </a>
                            </div>
                            <div  ng-if="previousdiv.minimize">
                                <a  ng-click="maximize('{{ previousdiv.id }}')" class="pull-right" style="color:#888;">
                                    <h6>maximize</h6>
                                </a>
                            </div>

                        </h5>
                    </div>


                        <div class="panel-body">
							<ul class="chat">
								<li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <img src="http://placehold.it/50/55C1E7/fff&text=U" alt="User Avatar" class="img-circle" />
                                    </span>
									<div class="chat-body clearfix">
										<div class="header">
											<strong class="primary-font">Jack Sparrow</strong>  <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>14 mins ago</small>
										</div>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
										</p>
									</div>
								</li>
								<li class="right clearfix">
                                    <span class="chat-img pull-right">
                                        <img src="http://placehold.it/50/FA6F57/fff&text=ME" alt="User Avatar" class="img-circle" />
                                    </span>
									<div class="chat-body clearfix">
										<div class="header">
											<small class=" text-muted"><span class="glyphicon glyphicon-time"></span>15 mins ago</small>
											<strong class="pull-right primary-font">Bhaumik Patel</strong>
										</div>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales.
										</p>
									</div>
								</li>
							</ul>
						</div>
						<div class="panel-footer">
							<div class="input-group">
								<input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." />
								<span class="input-group-btn">
                                    <button class="btn btn-normal btn-sm" id="btn-chat">
                                        Send</button>
                                </span>
							</div>
                        </div>


                    <!--<div class="list-group" style="margin-bottom:0px" >

                       <textarea style="width: 289px;height: 212px;" id="text_{{previousdiv.id}}"></textarea>
                        <a class="list-group-item"
                           style="border-top-left-radius: 0px;border-top-right-radius: 0px;">
                            <div class="input-group">
                                <input  type="text" class="form-control input-sm"
                                       placeholder="Search online friends..." id="send_{{previousdiv.id}}"/>
                                <span class="input-group-btn">
                                    <button class="btn btn-default btn-sm" id="btn-chat" ng-click="send_message('{{previousdiv.id}}')">
                                        send
                                    </button>
                                </span>
                            </div>
                        </a>
                    </div>-->
                </div>
            </div>



		</div>
	</div>