<div class="container" style="margin-top:200px">
    <div class="row">
        <div class="col-md-5 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-lock" style="opacity:0.70"></span>
                    <strong>Weber</strong>
                    Password Recovery
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" ng-submit="login()" name="loginForm">
                        <div class="form-group">
                            <label  class="col-sm-3 control-label">
                                Email
                            </label>
                            <div class="col-sm-9">
                                <input type="email" class="form-control" name="email" ng-model="email" placeholder="Enter registered email" required autofocus>
                            </div>
                        </div>
                        <div class="form-group last">
                            <div class="col-sm-offset-3 col-sm-9">
                                <button type="submit" class="btn btn-success btn-sm" ng-click="submitLogin()">
                                    Submit
                                </button>

                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Goto Login?  <a href="#/login">Please Click Here</a></div>
            </div>
        </div>
    </div>
</div>


<style>
    body {
  background: url(http://www.twitterevolutions.com/bgs/tree-on-a-moonlight-twitter-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.panel-default {
opacity: 0.9;
margin-top:30px;
}
.form-group.last { margin-bottom:0px; }
</style>