<div class="container">
	<div class="col-md-3 colpadding" wb-affix="150">
		<div class="thumbnail">
			<img class="img-rounded" style="width: 100%;" src="{{user.picture.medium}}">
			<div class="caption text-center">
				<h3 style="text-transform: capitalize;">{{user.name.first}} {{user.name.last}}</h3>
				@{{user.username}}
			</div>
		</div>
		<div class="list-group">
			<a href="#" ng-repeat="interest in user.interests" class="list-group-item">{{interest}}</a>
			<a href="#" class="list-group-item"><span class="badge badge-primary">38</span>Morbi leo risus</a>
		</div>
		<div class="panel panel-default">
			<div class="clearfix panel-heading">Friends({{user.friends.length}})</div>

			<a ng-repeat="friend in friends" href="#/profile/{{friend._id}}">
				<img data-placement="top-right" data-content="{{friend.location.city}}, {{friend.location.state}}" title="{{friend.name.first}} {{friend.name.last}}" data-trigger="hover" bs-popover src="{{friend.picture.thumbnail}}">
			</a>
		</div>
	</div>
	<div class="col-md-7 colpadding" style="min-height:2000px">
		<form role="form" class="post-to-timeline panel panel-default panel-body clearfix">
			<textarea ng-model="new_post" class="form-control" style="height: 70px;margin-bottom: 10px;" placeholder="Whats happening?"></textarea>
			<div class="row">
				<div class="col-sm-6">
					<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-camera"></i></a>
					<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-facetime-video"></i></a>
					<a class="btn btn-sm btn-default"><i class="glyphicon glyphicon-map-marker"></i></a>
				</div>
				<div class="col-sm-6 text-right">
					<button ng-click="submit_post()" type="submit" class="btn btn-primary">Post</button>
				</div>
			</div>
		</form>
		<div class="well clearfix">
			<h3 style="text-align: center">
					Import your Contacts from your Email to find your friends on Weber!
					</h3>
			<button class="btn btn-primary pull-right">Import</button>
		</div>
		<div infinite-scroll='infinitePosts.nextPage()' infinite-scroll-disabled='infinitePosts.busy' infinite-scroll-distance='0'>
			<div class="media panel panel-default" ng-repeat="post in infinitePosts.posts">
				<div class="media-body panel-heading">
					<a class="pull-left" style="padding: 5px;" href="#/profile/{{UserService.get(post.author)._id}}">
						<img style="width:28px" class="media-object img-circle" src="{{UserService.get(post.author).picture.thumbnail}}" alt="">
					</a>
					<strong>{{UserService.get(post.author).name.first}} {{UserService.get(post.author).name.last}}</strong> wrote on his story.
					<br>
					<small class="text-muted"><span class="glyphicon glyphicon-time"></span>
						<span am-time-ago="post._created"></span></small>
					<br>
				</div>
				<p class="panel-body">{{post.content}}</p>
			</div>
			<div ng-show='infinitePosts.busy'>Loading data...</div>
			<div ng-show='infinitePosts.end'>You Reached the end!</div>
		</div>
	</div>
</div>