<div  class="navbar navbar-inverse navbar-fixed-top" role="navigation" bs-navbar>
        <div class="container" style="width:;">

            <div class="navbar-header">
                <a class="navbar-brand" href="/#/" ng-if="isAuthenticated()">
                    <span class="glyphicon glyphicon-film"></span>
                    <strong>Weber</strong>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="col-sm-6" ng-controller="InstantsearchCtrl">
                    <form class="navbar-form" role="search" ng-if="isAuthenticated()">
                        <div class="input-group col-sm-12 input-block">
                            <input type="text" class="form-control" placeholder="Search" name="q" ng-model="search">
                            <div class="input-group-btn">
                                <button class="btn btn-default" type="submit" ng-click="searchSubmit()"><i class="glyphicon glyphicon-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <ul class="nav navbar-nav pull-right" ng-if="!isAuthenticated()">
                    <li data-match-route="/login"><a href="#/login">Login</a>
                    </li>
                    <li data-match-route="/signup"><a href="#/signup">Sign up</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-if="isAuthenticated()">
                    <li class="dropdown">
                        <a class="dropdown-toggle" style="cursor:pointer" ng-click="getNewNotifcations()"
                           data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="fa fa-bell" style="font-size:18px">
                                <label class="label label-danger" ng-if="newnotific"
                                       style="position:absolute;font-size:10px;top: 5px;right: 0px;">
                                        {{ newnotific }}
                                </label>
                            </span>
                        </a>
                        <ul class="dropdown-menu" style="right:-200px;min-width:450px" role="menu" ng-repeat="requestedPeople in requestedPeoples">
                        <li>
                            <div class="panel panel-default"
                                    style="margin-bottom:2px">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-2" style="">
                                            <a href="">
                                                <img style="width:50px" class="media-object"
                                                     src="{{ requestedPeople.picture.thumbnail }}" alt="">
                                            </a>
                                        </div>
                                        <div class="col-sm-6" style="padding-left:0px">
                                            <h5>
                                                <a href="">
                                                    {{ requestedPeople.name.first }}
                                                </a>
                                            </h5>
                                        </div>
                                        <div class="col-sm-2">
                                            <button class="btn btn-default btn-sm"
                                                    style="padding: 3px 10px;margin-top: 10px;" ng-click="confirmrequest('{{ requestedPeople._id }}')">
                                                Confirm Friend
                                            </button>
                                        </div>
                                    </div>
                                    <!--<a class="pull-left" style="padding: 5px;" href="">
                                        <img style="width:28px" class="media-object img-circle" src="http://api.randomuser.me/portraits/thumb/men/68.jpg" alt="">
                                    </a>
                                    <strong><a href="">Surya Muppalla</a> </strong> is matched with you.
                                    <br>-->
                                </div>
                            </div>
                        </li>

                        </ul>
                    </li>
                    <li><a href="#/weber_search">Match Me</a></li>
                    <li><a href="#/friends">Friends</a></li>

                    <li>
                        <a href="" bs-dropdown="dropdown" style="padding-top: 11px; padding-bottom: 11px;">
                            <img style="width:28px; border: 2px solid; margin-right: 5px;" class="img-circle" src="{{currentUser.picture.thumbnail}}" alt="">{{currentUser.username}} <span class="caret"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>